section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

span {
    color: var(--accent-text);
}