@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
--color-bg: #2F303A;
--color-primary: #202027;
--color-navhover: #202027;
--color-borderinput: #2E3852;
--color-borderinput-f: #596da0;
--color-buttonbck: #1762A7;
--color-buttonhover: #2180d8;
--color-buttonfocus: #2796ff;
--accent-text: #2796ff;
--circle-1: #bc3a801a;
--circle-2: #3457b21a;
}
